.theme-switch {
  cursor: pointer;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 5px;
  position: absolute;
  left: 400px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.8rem;
  z-index: 1;
}
